name: 'Module 2: Build et Push de limage Docker (OIDC)'

# CETTE PARTIE EST CELLE QUI MANQUE SUR GITHUB
permissions:
  id-token: write   # Permet au pipeline de générer un token OIDC
  contents: read    # Permet au pipeline de lire le code (checkout)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout du code'
      uses: actions/checkout@v3

    - name: 'Connexion à Azure (OIDC)'
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: 'Connexion à Azure Container Registry (ACR)'
      uses: azure/docker-login@v1
      with:
        login-server: ${{ vars.ACR_LOGIN_SERVER }}

    - name: 'Build et Push de limage'
      uses: docker/build-push-action@v4
      with:
        context: ./module2
        push: true
        tags: ${{ vars.ACR_LOGIN_SERVER }}/formation-sre-app:v1